{% extends "mentor/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.3.1.js"></script>

<script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.3.1.js"></script>
<link
rel="stylesheet"
href="{% static 'meeting/index.css' %}"
/>     
<div class='app' id="app">
  <main class='c-main' style="min-width:900px; margin-left: 3rem;">
    <div class="trashbar">
   
      
    </div>
    
    
    
    
    
    
    <div class='c-video'>
      <header style="min-width:900px; ">
        
        <h1>{{ mentee.user.username }}</h1>
        <span>${ getUserOnlineStatus({{mentee.user.id}})}</span>
        
         
            <br/>
      
      </header>
      <button
            type="button"
            class=" c-control--end-call c-join c-call"

            @click="placeCall('{{mentee.user.id}}','{{mentee.user}}')"
          >
          <i class="fas fa-phone"></i>
          </button>
     
      
      <div class='c-webcam' id="video-container" v-if="callPlaced">
        <div class='c-webcam-container' >
          <div class='c-webcam-organisor' >
            <img src='{{request.user.mentorprofile.image.url}}' style="width: 50px;">
            <div>
              <span>Mentor</span>
              <p>{{request.user.username}}</p>
            </div>
          </div>
          <div id="local-video" class="local-video"></div>
          <div class='c-webcam-inchat'>
           
          </div>
          
          <div class='c-webcam__video-controls'>
            <ul>
              <li><button class='c-control'><i class="fas fa-expand-arrows-alt"></i></button></li>
              <li><button class='c-control'  @click="handleAudioToggle"><i class="fas fa-microphone-alt-slash">${ mutedAudio ? "Unmute" : "Mute" }</i></button></li>
              <li><button class=' c-control--end-call' @click="endCall" ><i class="fas fa-phone">
                </i></button></li>
              <li><button class='c-control'  @click="handleVideoToggle"><i class="fas fa-video"></i></button></li>
              <li><button class='c-control' @click="startRecording('{{mentee.user}}','{{meeting.id}}')">${recordingStarted ? "Stop" : "Record" }</button></li>
            </ul>
          </div>
          
        <div class='c-webcam__video'><div id="remote-video"></div></div>
        <div id="local-video" class="local-video"></div>
        </div>
      </div>
   
    </div>
    
    
    
    
    
  </main>
</div>

<!-- <div class="container my-5" id="app">
    <div class="row">
      <div class="col">
        <div class="btn-group" role="group">
          
          <button
            type="button"
            class="btn btn-primary mr-2"

            @click="placeCall('{{mentee.user.id}}','{{mentee.user}}')"
          >
            Call {{ mentee.user.username }}
            <span class="badge badge-light"
              >${ getUserOnlineStatus({{mentee.user.id}})}</span
            >
          </button>

        </div>
      </div>
    </div>

    <div class="row my-5" v-if="incomingCall">
        <div class="col-12">
          <p>Incoming Call From <strong>${ incomingCaller }</strong></p>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
              @click="declineCall"
            >
              Decline
            </button>
            <button
              type="button"
              class="btn btn-success ml-5"
              @click="acceptCall"
            >
              Accept
            </button>
          </div>
        </div>
      </div>


      <section id="video-container" v-if="callPlaced">
        <div id="local-video"></div>
        <div id="remote-video"></div>

        <div class="action-btns">
          <button
            type="button"
            class="btn btn-info"
            @click="handleAudioToggle"
          >
            ${ mutedAudio ? "Unmute" : "Mute" }
          </button>
         
          <button
            type="button"
            class="btn btn-primary mx-4"
            @click="handleVideoToggle"
          >
            ${ mutedVideo ? "ShowVideo" : "HideVideo" }
          </button>

          
          <button type="button" class="btn btn-danger" @click="endCall">
            EndCall
          </button>
        </div>

      </section>
</div> -->
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script>
      window.pusher = new Pusher("06d07740f1d6ef655ab5", {
        cluster: 'us2',
        authEndpoint: "{% url 'meeting:agora-pusher-auth' %}",
        auth: {
          headers: {
            "X-CSRFToken": "{{ csrf_token }}",
          },
        },
      });

      const AUTH_USER = "{{user}}"
      const AUTH_USER_ID =  "{{request.user.id}}"
      const CSRF_TOKEN = "{{ csrf_token }}"
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js""
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'meeting/index.js' %}"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1055.0.min.js"></script>
{% endblock %}