{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.3.1.js"></script>

<script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.3.1.js"></script>
<link
rel="stylesheet"
href="{% static 'meeting/index.css' %}"
/>     
 <!-- <div class="flex" style="width: 100%;">
  <main class="px-6 py-8 mx-auto space-y-6 xl:px-12">
    <div class="bg-white rounded-md shadow-sm ">
<div class="flex items-center justify-between px-4 py-4 border-b border-gray-200 lg:px-6">
  <div>
    <div class="flex space-x-4">
      <img src='{{meeting.content.image.url}}' class="w-16 h-16 rounded-full" alt="">
    <h2 class="text-base font-semibold text-gray-800">{{meeting.meeting_title}}</h2>
    <span class="block mb-3 text-sm font-medium text-gray-400" >{{meeting.mentor.user.username}}</span>
    
    </div>
    <br/>
    <span class="block mb-3 text-m font-medium text-gray-400">ON {{meeting.date}}</span>
   
    <span class="block mb-3 text-m font-medium text-gray-400">{{meeting.start_time}} To {{meeting.end_time}}</span>
   
  </div>
</div>

</div>


</div> -->
<br/>
<div class='app w-full' id="app">
  <main class='c-main' style="min-width:900px; margin-left: 3rem;">
    
    <div class="trashbar">

    </div>
    
    
    
    
    <div class='c-video'>
      <header style="min-width:900px; ">
              
              <h1>{{meeting.meeting_title}}</h1>
              
     
      </header>
      <span  style="font-size:1rem;margin-left: 1rem;"><i aria-hidden="true" class="fas fa-user-friends"></i>{{meeting.mentor.user.username}}</span>
        <p id="demo" style="font-size: 3rem;margin-left: 1rem; width: 100%;"></p>
      <div class="row my-5" v-if="incomingCall">
        <div class="col-12">
          <p>Incoming Call From <strong>${ incomingCaller }</strong></p>
          <div class="btn-group" role="group">
            <button
              type="button"
              class="c-control--end-call"
              data-dismiss="modal"
              @click="declineCall"
            >
            <i class="fas fa-phone"></i>
            </button>
            <button
              type="button"
              class=" c-control--end-call c-join"
              @click="acceptCall"
            >
            <i class="fas fa-phone"></i>
            </button>
          </div>
        </div>
      </div>
          
      
      <div class='c-video-information'>
        <div class='c-video-invited'>
          <div class='c-video-invited__attendees'></div>
          <div class='c-video-invited__absentees'></div>
        </div>
       
     

      </div>
      
      <div class='c-webcam' id="video-container" v-if="callPlaced">
        <div class='c-webcam-container' >
          <div class='c-webcam-organisor' >
            <img src='{{request.user.menteeprofile.image.url}}' style="width: 50px;">
            <div>
              <span>Mentor</span>
              <p>{{request.user.username}}</p>
            </div>
          </div>
          <div id="local-video" class="local-video"></div>
          <div class='c-webcam-inchat'>
           
          </div>
          
          <div class='c-webcam__video-controls'>
            <ul>
              <li><button class='c-control'><i class="fas fa-expand-arrows-alt"></i></button></li>
              <li><button class='c-control'  @click="handleAudioToggle"><i class="fas fa-microphone-alt-slash">${ mutedAudio ? "Unmute" : "Mute" }</i></button></li>
              <li><button class=' c-control--end-call' @click="endCall" ><i class="fas fa-phone">
                </i></button></li>
              <li><button class='c-control'  @click="handleVideoToggle"><i class="fas fa-video"></i></button></li>
              <li><button class='c-control'><i class="fas fa-cog"></i></button></li>
            </ul>
          </div>
          
        <div class='c-webcam__video'><div id="remote-video"></div></div>
        <div id="local-video" class="local-video"></div>
        </div>
      </div>
   
    </div>
    
    
    
    
    
  </main>
</div>

<!-- Display the countdown timer in an element -->




<script>
// Set the date we're counting down to
var date = "{{meeting.date}}"
var time = "{{meeting_time}}"
console.log(date)
console.log(time)
var countDownDate = new Date(date+' '+time).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text 
  if (distance < -1) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "Waiting for Mentor";
  }
}, 1000);
</script>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script>
      window.pusher = new Pusher("06d07740f1d6ef655ab5", {
        cluster: 'us2',
        authEndpoint: "{% url 'meeting:agora-pusher-auth' %}",
        auth: {
          headers: {
            "X-CSRFToken": "{{ csrf_token }}",
          },
        },
      });

      const AUTH_USER = "{{user}}"
      const AUTH_USER_ID =  "{{request.user.id}}"
      const CSRF_TOKEN = "{{ csrf_token }}"
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js""
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'meeting/index.js' %}"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1055.0.min.js"></script>
  {% endblock %}