<!DOCTYPE html>
<html lang="en"><head>
  
  <title>Project Card 005 | AirControl by themes.dev</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  />
  
  
  
  <link rel="stylesheet" href="../../../css/main.bundle.f7e41da01989ad32cb56db7783359d526581f5ccc2119670e36186deedaf78e2.css" >
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  
  
  <script src="../../../js/app.js" defer></script>
  
</head><body class="font-sans ">
    <div id="content">
    
<div>
  
  <div class="flex items-center justify-center px-8 py-10 bg-gray-100">
    <div class="flex-1 max-w-screen-xl">
      <div class="grid grid-cols-1 gap-4 md:gap-6 md:grid-cols-2 lg:grid-cols-3">
  <a href="#" class="transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1">
    <div class="px-4 pt-6 pb-8 lg:px-6">
      <div class="flex justify-between mb-4">
        <img src="../../../images/project-icon1.png" class="w-12 h-12 rounded-md" alt="">
        <div>
          <span class="flex items-center px-2 py-2 space-x-1 font-semibold bg-gray-100 rounded-lg text">
            <span class="block font-semibold tracking-wide text-gray-400 uppercase text-xxs">Budget</span>
            <span class="text-sm text-gray-600">
              &euro;7492
            </span>
          </span>
        </div>
      </div>
      <h2 class="text-lg font-semibold text-gray-800">Masterpiece E-commerce</h2>
      <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated 6 weeks ago</span>
      <div class="my-4">  
        <div class="h-2 overflow-hidden bg-green-100 rounded-lg">
          <div class="w-2/3 bg-green-400">&nbsp;</div>
        </div>
      </div>
      <div class="flex items-center mt-6 -space-x-3">
        <img src="../../../images/user2.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user3.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user4.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user5.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
      </div>
    </div>
  </a>
  <a href="#" class="transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1">
    <div class="px-4 pt-6 pb-8 lg:px-6">
      <div class="flex justify-between mb-4">
        <img src="../../../images/project-icon2.png" class="w-12 h-12 rounded-md" alt="">
        <div>
          <span class="flex items-center px-2 py-2 space-x-1 font-semibold bg-gray-100 rounded-lg text">
            <span class="block font-semibold tracking-wide text-gray-400 uppercase text-xxs">Budget</span>
            <span class="text-sm text-gray-600">
              &euro;22.841
            </span>
          </span>
        </div>
      </div>
      <h2 class="text-lg font-semibold text-gray-800">Party Perform Canopy</h2>
      <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated 2 days ago</span>
      <div class="my-4">  
        <div class="h-2 overflow-hidden bg-blue-100 rounded-lg">
          <div class="w-2/3 bg-blue-400">&nbsp;</div>
        </div>
      </div>
      <div class="flex items-center mt-6 -space-x-3">
        <img src="../../../images/user12.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user3.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user9.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user8.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
      </div>
    </div>
  </a>
  <a href="#" class="transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1">
    <div class="px-4 pt-6 pb-8 lg:px-6">
      <div class="flex justify-between mb-4">
        <img src="../../../images/project-icon3.png" class="w-12 h-12 rounded-md" alt="">
        <div>
          <span class="flex items-center px-2 py-2 space-x-1 font-semibold bg-gray-100 rounded-lg text">
            <span class="block font-semibold tracking-wide text-gray-400 uppercase text-xxs">Budget</span>
            <span class="text-sm text-gray-600">
              &euro;22.841
            </span>
          </span>
        </div>
      </div>
      <h2 class="text-lg font-semibold text-gray-800">Commerce Zilla</h2>
      <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated last month</span>
      <div class="my-4">  
        <div class="h-2 overflow-hidden bg-indigo-100 rounded-lg">
          <div class="w-2/3 bg-indigo-400">&nbsp;</div>
        </div>
      </div>
      <div class="flex items-center mt-6 -space-x-3">
        <img src="../../../images/user7.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user8.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user9.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user10.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user11.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
      </div>
    </div>
  </a>
  <a href="#" class="transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1">
    <div class="px-4 pt-6 pb-8 lg:px-6">
      <div class="flex justify-between mb-4">
        <img src="../../../images/project-icon4.png" class="w-12 h-12 rounded-md" alt="">
        <div>
          <span class="flex items-center px-2 py-2 space-x-1 font-semibold bg-gray-100 rounded-lg text">
            <span class="block font-semibold tracking-wide text-gray-400 uppercase text-xxs">Budget</span>
            <span class="text-sm text-gray-600">
              &euro;9831
            </span>
          </span>
        </div>
      </div>
      <h2 class="text-lg font-semibold text-gray-800">Presto Balanced</h2>
      <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated 79 days ago</span>
      <div class="my-4">  
        <div class="h-2 overflow-hidden bg-indigo-100 rounded-lg">
          <div class="w-2/3 bg-indigo-400">&nbsp;</div>
        </div>
      </div>
      <div class="flex items-center mt-6 -space-x-3">
        <img src="../../../images/user7.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user8.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user9.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
      </div>
    </div>
  </a>
  <a href="#" class="transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1">
    <div class="px-4 pt-6 pb-8 lg:px-6">
      <div class="flex justify-between mb-4">
        <img src="../../../images/project-icon5.png" class="w-12 h-12 rounded-md" alt="">
        <div>
          <span class="flex items-center px-2 py-2 space-x-1 font-semibold bg-gray-100 rounded-lg text">
            <span class="block font-semibold tracking-wide text-gray-400 uppercase text-xxs">Budget</span>
            <span class="text-sm text-gray-600">
              &euro;8654
            </span>
          </span>
        </div>
      </div>
      <h2 class="text-lg font-semibold text-gray-800">Ultra Safer Savvy</h2>
      <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated last year</span>
      <div class="my-4">  
        <div class="h-2 overflow-hidden bg-red-100 rounded-lg">
          <div class="w-2/3 bg-red-400">&nbsp;</div>
        </div>
      </div>
      <div class="flex items-center mt-6 -space-x-3">
        <img src="../../../images/user2.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user3.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user4.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user5.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user8.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user9.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user7.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
      </div>
    </div>
  </a>
  <a href="#" class="transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1">
    <div class="px-4 pt-6 pb-8 lg:px-6">
      <div class="flex justify-between mb-4">
        <img src="../../../images/project-icon6.png" class="w-12 h-12 rounded-md" alt="">
        <div>
          <span class="flex items-center px-2 py-2 space-x-1 font-semibold bg-gray-100 rounded-lg text">
            <span class="block font-semibold tracking-wide text-gray-400 uppercase text-xxs">Budget</span>
            <span class="text-sm text-gray-600">
              &euro;68.745
            </span>
          </span>
        </div>
      </div>
      <h2 class="text-lg font-semibold text-gray-800">Runway Range Tender</h2>
      <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated 16 hours ago</span>
      <div class="my-4">  
        <div class="h-2 overflow-hidden bg-yellow-100 rounded-lg">
          <div class="w-2/3 bg-yellow-400">&nbsp;</div>
        </div>
      </div>
      <div class="flex items-center mt-6 -space-x-3">
        <img src="../../../images/user6.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user3.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user7.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
      </div>
    </div>
  </a>
  <a href="#" class="transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1">
    <div class="px-4 pt-6 pb-8 lg:px-6">
      <div class="flex justify-between mb-4">
        <img src="../../../images/project-icon7.png" class="w-12 h-12 rounded-md" alt="">
        <div>
          <span class="flex items-center px-2 py-2 space-x-1 font-semibold bg-gray-100 rounded-lg text">
            <span class="block font-semibold tracking-wide text-gray-400 uppercase text-xxs">Budget</span>
            <span class="text-sm text-gray-600">
              &euro;369.311
            </span>
          </span>
        </div>
      </div>
      <h2 class="text-lg font-semibold text-gray-800">Training Exclusive</h2>
      <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated a minute ago</span>
      <div class="my-4">  
        <div class="h-2 overflow-hidden bg-red-100 rounded-lg">
          <div class="w-2/3 bg-red-400">&nbsp;</div>
        </div>
      </div>
      <div class="flex items-center mt-6 -space-x-3">
        <img src="../../../images/user7.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user11.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user12.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
      </div>
    </div>
  </a>
  <a href="#" class="transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1">
    <div class="px-4 pt-6 pb-8 lg:px-6">
      <div class="flex justify-between mb-4">
        <img src="../../../images/project-icon8.png" class="w-12 h-12 rounded-md" alt="">
        <div>
          <span class="flex items-center px-2 py-2 space-x-1 font-semibold bg-gray-100 rounded-lg text">
            <span class="block font-semibold tracking-wide text-gray-400 uppercase text-xxs">Budget</span>
            <span class="text-sm text-gray-600">
              &euro;74.715
            </span>
          </span>
        </div>
      </div>
      <h2 class="text-lg font-semibold text-gray-800">MajorLauge Working</h2>
      <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated 3 weeks ago</span>
      <div class="my-4">  
        <div class="h-2 overflow-hidden bg-indigo-100 rounded-lg">
          <div class="w-2/3 bg-indigo-400">&nbsp;</div>
        </div>
      </div>
      <div class="flex items-center mt-6 -space-x-3">
        <img src="../../../images/user2.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user3.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user10.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user11.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user12.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
      </div>
    </div>
  </a>
  <a href="#" class="transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1">
    <div class="px-4 pt-6 pb-8 lg:px-6">
      <div class="flex justify-between mb-4">
        <img src="../../../images/project-icon9.png" class="w-12 h-12 rounded-md" alt="">
        <div>
          <span class="flex items-center px-2 py-2 space-x-1 font-semibold bg-gray-100 rounded-lg text">
            <span class="block font-semibold tracking-wide text-gray-400 uppercase text-xxs">Budget</span>
            <span class="text-sm text-gray-600">
              &euro;121.102
            </span>
          </span>
        </div>
      </div>
      <h2 class="text-lg font-semibold text-gray-800">Thoughtfully learnings</h2>
      <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated now</span>
      <div class="my-4">  
        <div class="h-2 overflow-hidden bg-green-100 rounded-lg">
          <div class="w-2/3 bg-green-400">&nbsp;</div>
        </div>
      </div>
      <div class="flex items-center mt-6 -space-x-3">
        <img src="../../../images/user2.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user3.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user4.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user5.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user6.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user7.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user8.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
        <img src="../../../images/user9.jpg" class="w-10 h-10 border-2 border-white rounded-full shadow-sm" alt="">
      </div>
    </div>
  </a>
</div>
    </div>
  </div>
  
</div>

    
    </div></body>
</html>
