{% extends "mentor/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="flex items-center justify-center px-8 py-10 bg-gray-100">
  <form action="{% url 'mentor:settings' %}" enctype="multipart/form-data" method="post"
  class="">
  <div class="flex-1 max-w-screen-lg">
    <div class="bg-white rounded-md shadow-sm ">
      <div class="px-4 py-4 lg:px-6">
<div class="mx-auto my-10 p-10 max-w-lg">
  
  {% csrf_token %}
  <div class="mb-6">
    <label for="email" class="text-gray-700 font-medium" >User Name</label>
    <input id="email" name="username" type="text" value="{{request.user.username}}"  class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
  </div>
  <div class="mb-6">
    <label for="email" class="text-gray-700 font-medium">Email address</label>
    <input id="email" name="email" type="text" value="{{request.user.email}}" class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
  </div>
  <div class="mb-6">
    <label for="email" class="text-gray-700 font-medium">Phone Number</label>
    <input id="email" name="phone_number" value="{{request.user.phone_number}}" type="text" class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
  </div>
  <!-- <div>
  <label for="email" class="text-gray-700 font-medium">Address</label>
  <input id="email" name="address" type="text" class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<div>
<label for="email" class="text-gray-700 font-medium">Country</label>
<input id="email" name="country" type="text" class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<div>
<label for="email" class="text-gray-700 font-medium">City</label>
<input id="email" name="city" type="text" class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<div> -->
<div>
<label for="email" class="text-gray-700 font-medium">Birth Date</label>

<input id="email" name="birth_date" type="date" value="{{request.user.menteeprofile.birth_date}}" class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<br/>
<div>
<label for="image" class="text-gray-700 font-medium">Profile Pic</label>
 
<input id="email" name="image" type="file" accept="image/png, image/gif, image/jpeg" class="">
</div>


  <!-- <div class="flex justify-between items-center mb-3">
    <div class="mt-auto">
      <input type="checkbox" id="remember-me" name="remember-me" value="remember-me" class="mr-1 checked:bg-blue-600 checked:border-transparent rounded-lg">
      <label for="remember-me" class="text-gray-700 font-normal">Remember Me</label>
    </div>
    <a href="#" class="text-blue-700">Forgot your password?</a>
  </div> -->
  
</div>

</div>
</div>
<div class="bg-white rounded-md shadow-sm ">
  <div class="px-4 py-4 lg:px-6">
<div class="mx-auto my-10 p-10 max-w-lg">

<div class="mb-6">
<label for="email" class="text-gray-700 font-medium" >Twitter</label>
<input id="email" name="twitter_url" type="text" value="{{request.user.mentorprofile.twitter_url}}"  class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<div class="mb-6">
<label for="email" class="text-gray-700 font-medium" >Instagram</label>
<input id="email" name="instagram_url" type="text" value="{{request.user.mentorprofile.instagram_url}}"  class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<div class="mb-6">
<label for="email" class="text-gray-700 font-medium" >Facebook</label>
<input id="email" name="facebook_url" type="text" value="{{request.user.mentorprofile.facebook_url}}"  class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<br/>
  <button type="submit" class="px-3 py-2 bg-blue-100 rounded-md">Update Profile</button>



<!-- <div>
<label for="email" class="text-gray-700 font-medium">Address</label>
<input id="email" name="address" type="text" class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<div>
<label for="email" class="text-gray-700 font-medium">Country</label>
<input id="email" name="country" type="text" class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<div>
<label for="email" class="text-gray-700 font-medium">City</label>
<input id="email" name="city" type="text" class="block rounded-md border border-gray-300 py-2 px-4 my-2 shadow-sm w-full">
</div>
<div> -->


<!-- <div class="flex justify-between items-center mb-3">
<div class="mt-auto">
  <input type="checkbox" id="remember-me" name="remember-me" value="remember-me" class="mr-1 checked:bg-blue-600 checked:border-transparent rounded-lg">
  <label for="remember-me" class="text-gray-700 font-normal">Remember Me</label>
</div>
<a href="#" class="text-blue-700">Forgot your password?</a>
</div> -->

</div>

</div>
</div>
</div>
<div class="flex-1 max-w-screen-lg" style="margin-left: 3rem;">
  
</div>
</form>
</div>
{% endblock %}