
{% extends "mentor/base.html" %}

{% load static %}
{% block content %}
<div class="flex">
  
   <div class="flex items-center justify-center px-8 py-10 bg-gray-100">
     <div class="flex items-center justify-center flex-1 max-w-2xl ">
       <article class="bg-white rounded-md shadow-lg">

  <div class="px-4 pt-6 pb-8 space-y-4 lg:px-6">

    <!-- author -->
    <a href="#" class="flex items-center col-span-1 space-x-3">
      <img src="/media/{{content.user.image}}" class="w-12 h-12 rounded-full" alt="">
      <div class="space-y-1" style="margin-right: 5rem;">
        <span class="text-base font-semibold text-gray-800 transition-colors duration-300 hover:text-blue-600">{{content.user.user.first_name}} {{content.user.user.last_name}}</span>
        <div class="flex items-center space-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="block font-semibold tracking-wide text-gray-500 uppercase text-xxs">
            {{content.user.user.username}}
          </span>
        </div>
        
      </div>
    </a> 

  
    <!--/ author -->
    
    <!-- post -->
    <h1 class="text-lg" style="font-size: 2rem;">{{content.title}}</h1>
    <h1 class="" style="font-size: 1rem;">&dollar;{{content.price_per_hour}}/per hour</h1>
    <br/>
    {% for tag in tags %}
    <a href="#" class="px-3 py-2 bg-gray-100 rounded-md">{{tag.skill.name}}</a>
          
    {% endfor %}
    <br/>
    <p class="text-sm">{{content.description}}</p>
    
    
    <a href="#" class="relative block overflow-hidden rounded-lg group ">
      <img src="/media/{{content.image}}" alt="" class="object-cover w-full h-25">
      <div class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 bg-opacity-0 group-hover:bg-opacity-60">
        <div class="inline-flex px-3 py-2 space-x-2 text-gray-100 duration-500 scale-50 bg-black bg-opacity-50 rounded-md opacity-0 group-hover:opacity-100 group-hover:scale-100">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
          <span class="text-sm">View Image</span>
        </div>
      </div>
    </a>
    <!--/ post -->
    </div>
  
    <!-- quick actions -->
    <div class="flex items-center pb-3 space-x-3 border-b border-gray-200">
      <div class="flex items-center space-x-1 text-gray-400">
     
      </div>
      <span class="text-xs font-semibold text-gray-500">
        {{content.created_at}}
        
      </span>
    </div>
    <!--/ quick actions -->



    <!-- leave comment -->
    <div class="flex items-center col-span-1 pt-3 space-x-3">
      
    </div>
    <!--/ leave comment -->

  
    <div class="pt-4">
      <span class="block font-semibold tracking-wide text-gray-500 uppercase text-xxs">
        Comments
      </span>
      <div class="space-y-4">

        <!-- comment -->
        {% for x in reviews %}
        <div class="flex items-start col-span-1 pt-3 space-x-3">
          <img src="/media/{{x.user.menteeprofile.image}}" class="w-12 h-12 rounded-full" alt="">
          <div class="flex-1">
            <div class="px-4 py-4 bg-gray-100 rounded-md lg:px-6 lg:pb-6">
              <div class="flex items-end justify-between pb-3">
                <span class="text-sm font-semibold text-gray-800 transition-colors duration-300 hover:text-blue-600">Taylor Brown</span>
                <div class="flex items-center space-x-1">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>
                  <span class="block font-semibold tracking-wide text-gray-500 uppercase text-xxs">
                    {{x.user.username}}
                  </span>
                </div>
              </div>
              <p class="block text-sm text-gray-500">{{x.message}}</p>
            </div>
            <!-- quick actions -->
            <div class="flex items-center pt-3 pb-3 space-x-3 border-b border-gray-200">
            
              <span class="text-xs font-semibold text-gray-500">
                {{x.created_at}}
              </span>
            </div>
            <!--/ quick actions -->
          </div>
        </div>
        {% endfor %}
        <!--/ comment -->

    </div>

  </div>
</article>

     </div>
   </div>
 


  </div>
</div>

{% endblock %}