{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}


  <div class="flex flex-col flex-shrink-0 md:space-x-4 md:flex-row" style="overflow-x: scroll; margin:2rem">
  
    <div class="flex-shrink-0 w-full md:w-72 xl:w-96">
      <div class="flex justify-between pb-2 border-b-4 border-green-400">
        <h2 class="text-lg font-semibold text-gray-800 ">Booked</h2>
        <button class="flex items-center justify-center w-8 h-8 p-1 text-gray-400 transition-colors duration-300 bg-gray-100 rounded-full hover:bg-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </button>
      </div>
      
      <div class="max-h-screen pt-4 space-y-4 overflow-auto overflow-y-auto ">
        {% for x in booked %}
        <a href="{% url 'dashboard:content' x.content.id %}" class="block px-4 pt-6 pb-8 transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1 lg:px-6">
          <h3 class="text-lg font-semibold text-gray-800">{{x.content.title}}</h3>
          <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated {{x.content.updated_at}}</span>
  
          <div class="flex items-center h-12 pt-4 space-x-3">
           
  
            <span class="flex items-center px-2 py-2 space-x-1 text-xs font-semibold text-gray-500 uppercase bg-gray-200 rounded-lg">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span>
                {{x.content.user.user.username}}
              </span>
            </span>
          </div>
      
  
          <div class="my-4">  
            <div class="h-2 overflow-hidden bg-gray-100 rounded-lg">
              <div class="">&nbsp;</div>
            </div>
          </div>
          
        </a>
  {% endfor %}
        
      
  
      </div>
    </div>
  
    <div class="flex-shrink-0 w-full md:w-72 xl:w-96">
      <div class="flex justify-between pb-2 border-b-4 border-blue-600">
        <h2 class="text-lg font-semibold text-gray-800 ">Pending</h2>
        <button class="flex items-center justify-center w-8 h-8 p-1 text-gray-400 transition-colors duration-300 bg-gray-100 rounded-full hover:bg-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </button>
      </div>
      <div class="max-h-screen pt-4 space-y-4 overflow-auto overflow-y-auto">
        {% for x in pending %}
        <a href="{% url 'dashboard:content' x.content.id %}" class="block px-4 pt-6 pb-8 transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1 lg:px-6">
          <h3 class="text-lg font-semibold text-gray-800">{{x.content.title}}</h3>
          <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated {{x.content.updated_at}}</span>
  
          <div class="flex items-center h-12 pt-4 space-x-3">
           
  
            <span class="flex items-center px-2 py-2 space-x-1 text-xs font-semibold text-gray-500 uppercase bg-gray-200 rounded-lg">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span>
                {{x.content.user.user.username}}
              </span>
            </span>
          </div>
      
  
          <div class="my-4">  
            <div class="h-2 overflow-hidden bg-gray-100 rounded-lg">
              <div class="">&nbsp;</div>
            </div>
          </div>
          
        </a>
  {% endfor %}
       
   
      </div>
    </div>
  
    <div class="flex-shrink-0 w-full md:w-72 xl:w-96">
      <div class="flex justify-between pb-2 border-b-4 border-red-300">
        <h2 class="text-lg font-semibold text-gray-800 ">Declined</h2>
        <button class="flex items-center justify-center w-8 h-8 p-1 text-gray-400 transition-colors duration-300 bg-gray-100 rounded-full hover:bg-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </button>
      </div>
      <div class="max-h-screen pt-4 space-y-4 overflow-auto overflow-y-auto">
        {% for x in declined %}
        <a href="{% url 'dashboard:content' x.content.id %}" class="block px-4 pt-6 pb-8 transition-all duration-300 bg-white rounded-md shadow-sm hover:shadow-md hover:-translate-y-1 lg:px-6">
          <h3 class="text-lg font-semibold text-gray-800">{{x.content.title}}</h3>
          <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs">Updated {{x.content.updated_at}}</span>
  
          <div class="flex items-center h-12 pt-4 space-x-3">
           
  
            <span class="flex items-center px-2 py-2 space-x-1 text-xs font-semibold text-gray-500 uppercase bg-gray-200 rounded-lg">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span>
                {{x.content.user.user.username}}
              </span>
            </span>
          </div>
      
  
          <div class="my-4">  
            <div class="h-2 overflow-hidden bg-gray-100 rounded-lg">
              <div class="">&nbsp;</div>
            </div>
          </div>
          
        </a>
  {% endfor %}
      </div>
    </div>
  
 
  
  </div>
{% endblock %}