{% load static %}
{% load notifications_tags %} 
<style>
  /* CSS Document */
  .dropnav nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    font-size: 3rem;
    margin-top: -24px;
    z-index: 100;
  }

  .dropnav nav ul li {
    display: inline-block;
    background-color: #fff;
    z-index: 100;
  }

  .dropnav nav a {
    display: block;
    padding: 0 5px;
    color: #000;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
  }

  /* Hide Dropdowns by Default */
  .dropnav nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    /* the height of the main nav */
  }

  /* Display Dropdowns on Hover */
  .dropnav nav ul li:hover>ul {
    display: inherit;
  }

  /* Fisrt Tier Dropdown */
  .dropnav nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;

  }

  /* Second, Third and more Tiers	*/
  .dropnav nav ul ul ul li {
    position: relative;
    top: -0px;
    left: 170px;
    z-index: 200;
  }

  /* .dropnav ul:first-child{
    height:12px;
    margin-top:-12px;
} */


  /* Change this in order to change the Dropdown symbol */

  .dropnav li>a:only-child:after {
    content: '';
  }
</style>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
<div>

  <div class="flex justify-end h-16 px-6 py-3 bg-white border-b border-gray-200 lg:justify-between ">
    <div class="items-center flex-1 hidden mx-auto space-x-2 text-sm sm:flex">
      <a href="{% url 'dashboard:home' %}" class="px-3 py-2 bg-gray-100 rounded-md">Dashboard</a>
      <a href="{% url 'dashboard:browse' %}"
        class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Browse</a>
      <a href="#"
        class="px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600">Answers</a>
      <div
        class="dropdown px-3 py-2 transition-colors duration-300 bg-white rounded-md hover:bg-gray-100 hover:text-blue-600 .text-sm">

        <div class="dropnav">
          <div id="container">
            <nav>
              <ul>
                <li><a href="#">Categories</a>
                  <!-- First Tier Drop Down -->
                  <ul>
                    {% for x in request.session.catergory %}
                    <li><a href="{% url 'dashboard:catergorycontent' category=x.name %}">{{x.name}}</a>
                      <!-- Second Tier Drop Down -->
                      
                    </li>
                    {% endfor %}
                    <!-- <li><a href="#">Product Design</a>
                     
                        <li><a href="#">HTML/CSS</a></li>
                        <li><a href="#">jQuery</a></li>
                        <li><a href="#">Other</a>
                          

                        </li>
                      </ul>
                    </li> -->
                   
                  </ul>
                </li>

          </div>
        </div>
      </div>
      <div class="relative hidden w-1/2 md:block -top-1">
        <div class="flex items-center justify-between space-x-4">
          <form action="" class="relative flex-1">
            <input type="text" placeholder="Search term..."
              class="block w-full py-3 pl-12 placeholder-gray-400 transition-colors duration-300 border-0 border-transparen peer focus:border-transparent ring-transparent focus:ring-transparent focus:ring-opacity-80 ">
            <button
              class="absolute flex items-center justify-center w-8 h-8 p-1 text-gray-400 transition-all duration-300 bg-transparent rounded-full left-3 top-2 hover:bg-gray-100 peer-focus:text-blue-600">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </button>
          </form>

        </div>
      </div>

      <div class="flex items-center space-x-3">
        
        <div class="relative" x-data="{ open: false }" @click.away="open = false">
          <button @click="open = !open" class="relative inline-flex items-center justify-center w-10 h-10 text-gray-400 transition-all duration-300 scale-100 bg-transparent rounded-full hover:scale-105 hover:text-blue-600 hover:-rotate-12">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" >
                {% live_notify_badge %}</path>
            </svg>
            <span class="absolute w-2 h-2 bg-red-500 rounded-full top-2 right-3">&nbsp;</span>
          </button>


          <ul
          class="dropdown-menu absolute z-20 w-40 py-1 mt-2 text-sm font-semibold text-gray-700 transition-all origin-top-right bg-white rounded shadow -right-2 lg:w-64"
          x-transition:enter="ease-out duration-50 scale-75"
          x-transition:enter-start="opacity-0 transform -translate-y-2 scale-75"
          x-transition:enter-end="opacity-100 transform translate-y-0 scale-100"
          x-transition:leave="transition ease-in duration-100"
          x-transition:leave-end="opacity-0 transform -translate-y-2" x-show="open"
          
          
          aria-labelledby="dropdownMenu2">
          {% for notification in  user.notifications.unread %}
          <li><a href="{% url 'notifications:mark_as_read' notification.slug %}?next={{notification.data.url}}" 
              class="block px-3 py-3 transition-colors duration-300 hover:bg-gray-100 hover:text-blue-600">{{ notification.actor }} - {{ notification.description }}</a>
            <div class="dropdown-divider"></div>
            
            </li>
              {% endfor %}

          
        </ul>
        {% live_notify_list list_class="dropdown-menu" %}
        </div>
        <div class="relative" x-data="{ open: false }" @click.away="open = false">
          <button class="inline-flex space-x-3 text-gray-600 duration-300 scale-100 h hover:text-blue-600"
            @click="open = !open">
            <img src="{{request.user.menteeprofile.image.url}}" alt="" class="w-10 h-10 rounded-full">
            <div class="text-left">
              <span
                class="text-sm font-semibold text-gray-800 transition-colors duration-300 hover:text-blue-600">{{request.user.username}}</span>
              <span class="relative block text-xs tracking-wide text-gray-600">{{request.user.email}}</span>
            </div>
          </button>


          <ul
            class="absolute z-20 w-40 py-1 mt-2 text-sm font-semibold text-gray-700 transition-all origin-top-right bg-white rounded shadow -right-2 lg:w-64"
            x-transition:enter="ease-out duration-50 scale-75"
            x-transition:enter-start="opacity-0 transform -translate-y-2 scale-75"
            x-transition:enter-end="opacity-100 transform translate-y-0 scale-100"
            x-transition:leave="transition ease-in duration-100"
            x-transition:leave-end="opacity-0 transform -translate-y-2" x-show="open">
            <li><a href="{% url 'dashboard:profile' %}"
                class="block px-3 py-3 transition-colors duration-300 hover:bg-gray-100 hover:text-blue-600">My
                Profile</a></li>
            <li><a href="{% url 'dashboard:settings' %}"
                class="block px-3 py-3 transition-colors duration-300 border-b hover:bg-gray-100 hover:text-blue-600">Settings</a>
            <li><a href="{% url 'dashboard:logout' %}"
                class="block px-3 py-3 transition-colors duration-300 hover:bg-gray-100 hover:text-blue-600">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>