<!DOCTYPE html>
<html lang="en"><head>
  
  <title>Password | AirControl by themes.dev</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  />
  

  <link rel="stylesheet" href="../../css/main.bundle.f7e41da01989ad32cb56db7783359d526581f5ccc2119670e36186deedaf78e2.css" >
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  
  
  <script src="../../js/app.js" defer></script>
  
</head><body class="font-sans ">
    <div id="content">
    
<div>
  
  <main
  class="flex flex-row items-center justify-center min-h-screen px-4 py-6 pt-12 overflow-x-hidden transition-all duration-300 bg-gray-100">
  <div class="relative z-10 flex justify-center flex-1 pb-12">
    <div class="w-full max-w-md">
  <div class="flex items-center justify-center mb-8 lg:mb-12">
    <img src="../../images/aircontrol-logo-dark.svg" alt="logo" class="z-20 inline-block h-7">
  </div>
 
  <div class="px-8 py-4 bg-white rounded-md shadow-md lg:px-12 lg:pt-12 lg:pb-12 ">
    <div class="py-4 space-y-1 text-center lg:pb-10 ">
      <h2 class="text-lg font-semibold tracking-wide text-gray-800 md:text-2xl lg:text-3xl ">Password reset</h2>
      <p class="text-base font-medium text-gray-500">Changed your mind? <a href="#" class="text-blue-600 hover:underline">Sign in here</a></p>
    </div>

    <form action="#" class="block space-y-6" x-data="form()" @prevent>
      <div class="space-y-2">
        <label for="email" class="block text-sm font-semibold text-gray-500">Password</label>
        <input 
          x-model="password"
          @input="validatePassword($event)" 
          type="password" 
          name="password" 
          id="password"  
          class="w-full border-gray-300 rounded-md">
        <span class="block font-semibold tracking-wide text-gray-400 uppercase transition-colors duration-300 text-xxs" :class="errorPassword ? 'text-red-500 font-semibold' : ''">Minimal 8 characters</span>
      </div>
      <div class="space-y-2">
        <label for="confirmPassword" class="block text-sm font-semibold text-gray-500">Repeat Password</label>
        <input 
          x-model="confirmPassword" 
          @input="validatePasswordRepeat($event)"
          type="password" 
          name="confirmPassword" 
          id="confirmPassword" 
          class="w-full border-gray-300 rounded-md">
        <span x-show="errorPasswordRepeat" class="block font-semibold tracking-wide text-red-500 uppercase transition-colors duration-300 text-xxs" x-text="errorPasswordRepeat">&nbsp;</span>
      </div>
      
      <button x-bind:disabled="!validForm" class="flex items-center justify-center w-full px-4 py-4 space-x-1 text-sm font-semibold leading-4 text-center transition-colors duration-300 bg-blue-600 rounded-md disabled:cursor-not-allowed disabled:opacity-60 hover:bg-blue-700 text-blue-50">
        <span>
          Request new password
        </span>
      </button>
    </form>
    
  </div>
</div>


<script>
  function form() {
    return {
      password: '',
      confirmPassword: '',
      errorPassword: false,
      errorPasswordRepeat: '',
      requiredPasswordLength: 8,
      validForm: false,

      validatePassword(event) {
        this.validateInputLength(event.target.value.length)
      },
      
      validatePasswordRepeat(event) {
        if(this.password != this.confirmPassword) {
          this.errorPasswordRepeat = "Passwords don't match, please check again.";
          return;
        };
        this.errorPasswordRepeat = "";
        
        if(!this.errorPassword) {
          this.validForm = true;
        }

      },

      validateInputLength(value) {
    
        if(value < this.requiredPasswordLength) {
          this.errorPassword = true
          return;
        }
        this.errorPassword = false
      }
    }
  }
</script>

  </div>
  <img src="../../images/auth-bg.svg" alt="" class="absolute inset-0 object-cover w-full h-screen opacity-20">
 </main>
  
</div>

    
    </div></body>
</html>
