{% extends "dashboard/base.html" %}

{% load static %}
{% block content %}
<style>
  @import "compass/css3";
 .star-cb-group {
	/* remove inline-block whitespace */
	 font-size: 0;
	/* flip the order so we can use the + and ~ combinators */
	 unicode-bidi: bidi-override;
	 direction: rtl;
	/* the hidden clearer */
}
 .star-cb-group * {
	 font-size: 2rem;
}
 .star-cb-group > input {
	 display: none;
}
 .star-cb-group > input + label {
	/* only enough room for the star */
	 display: inline-block;
	 overflow: hidden;
	 text-indent: 9999px;
	 width: 1em;
	 white-space: nowrap;
	 cursor: pointer;
}
 .star-cb-group > input + label:before {
	 display: inline-block;
	 text-indent: -9999px;
	 content: '\2606';
	 color: #888;
}
 .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
	 content: '\2605';
	 color: rgb(230, 255, 6);
	 text-shadow: 0 0 1px #333;
}
 .star-cb-group > .star-cb-clear + label {
	 text-indent: -9999px;
	 width: 0.5em;
	 margin-left: -0.5em;
}
 .star-cb-group > .star-cb-clear + label:before {
	 width: 0.5em;
}
 .star-cb-group:hover > input + label:before {
	 content: '\2606';
	 color: #888;
	 text-shadow: none;
}
 .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
	 content: '\2605';
	 color: rgb(230, 255, 6);
	 text-shadow: 0 0 1px #333;
}


 fieldset {
	 border: 0;
	 background: rgb(255, 255, 255);
	 width: 20rem;
	 border-radius: 1px;

}
 #log {
	 margin: 1em auto;
	 width: 5em;
	 text-align: center;
	 background: transparent;
}
 h1 {
	 text-align: center;
}
 
</style>
<div class="flex">
  
   <div class="flex items-center justify-center px-8 py-10 bg-gray-100">
     <div class="flex items-center justify-center flex-1 max-w-2xl">
       <article class="bg-white rounded-md shadow-sm">

  <div class="px-4 pt-6 pb-8 space-y-4 lg:px-6">

    <!-- author -->
    <a href="{% url 'mentor:public' content.user.user.username %}" class="flex items-center col-span-1 space-x-3">
      <img src="{{content.user.image.url}}" class="w-12 h-12 rounded-full" alt="">
      <div class="space-y-1" style="margin-right: 5rem;">
        <span class="text-base font-semibold text-gray-800 transition-colors duration-300 hover:text-blue-600">{{content.user.user.username}}</span>
        <div class="flex items-center space-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="block font-semibold tracking-wide text-gray-500 uppercase text-xxs">
            {{content.user.user.username}}
          </span>
        </div>
        
      </div>
      
    </a> <br/>
    <!-- {% if mentor_request.accepted == True %}
    
    <a  class="px-3 py-2 bg-green-500 rounded-md " style="" >Booked</a>
      {% elif mentor_request.accepted == False %}
     <br/>
      <a  class="px-3 py-2 bg-yellow-500 rounded-md " style="" >Pending</a>
      {% else %}
      <br/>
    {% endif %}  -->
    <!--/ author -->
    
   <a href="{% url 'dashboard:requestcontent' content.id %}" class="px-3 py-2 bg-blue-500 rounded-md " style="" >Request</a>
    <!-- post -->
    <h1 class="text-lg" style="font-size: 2rem;">{{content.title}}</h1>
    <!-- <h1 class="" style="font-size: 1rem;">&dollar;{{content.price_per_hour}}/per hour</h1> -->
    <p class="text-sm">{{content.description}}</p>
    
    
    <a href="#" class="relative block overflow-hidden rounded-lg group ">
      <img src="{{content.image.url}}" alt="" class="object-cover w-full h-100">
      <div class="absolute inset-0 flex items-center justify-center transition-all duration-300 bg-gray-700 bg-opacity-0 group-hover:bg-opacity-60">
        <div class="inline-flex px-3 py-2 space-x-2 text-gray-100 duration-500 scale-50 bg-black bg-opacity-50 rounded-md opacity-0 group-hover:opacity-100 group-hover:scale-100">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
          </svg>
          <span class="text-sm">View Image</span>
        </div>
      </div>
    </a>
    <!--/ post -->
    </div>
  
    <!-- quick actions -->
    <div class="flex items-center pb-3 space-x-3 border-b border-gray-200">
      <div class="flex items-center space-x-1 text-gray-400">
     
      </div>
      <span class="text-xs font-semibold text-gray-500">
        {{content.created_at}}
        
      </span>
    </div>
    <!--/ quick actions -->


   
    <!-- leave comment -->
    {% if mentor_request.accepted %}
    <div class="flex items-center col-span-1 pt-3 space-x-3 px-4">
      <img src="{{request.user.menteeprofile.image.url}}" class="w-12 h-12 rounded-full" alt="">
      <form action="{%  url 'dashboard:addreview' content.id  %}" method="post">
 

        
      <div class="flex-1">
        
          {% csrf_token %}
        <input name="message" type="text" class="w-full px-4 py-4 placeholder-gray-400 border border-gray-200 rounded-md" placeholder="Leave a Review">
        <fieldset >
          <span class="star-cb-group">
            <input type="radio" id="rating-5" name="rating_number" value="5" /><label for="rating-5">5</label>
            <input type="radio" id="rating-4" name="rating_number" value="4" checked="checked" /><label for="rating-4">4</label>
            <input type="radio" id="rating-3" name="rating_number" value="3" /><label for="rating-3">3</label>
            <input type="radio" id="rating-2" name="rating_number" value="2" /><label for="rating-2">2</label>
            <input type="radio" id="rating-1" name="rating_number" value="1" /><label for="rating-1">1</label>
            <input type="radio" id="rating-0" name="rating_number" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
          </span>
        </fieldset>

      </div>
      
    </form>
    </div>
    {% endif %}
    <!--/ leave comment -->

  
    <div class="pt-4 px-4">
      <span class="block font-semibold tracking-wide text-gray-500 uppercase text-xxs">
        Comments
      </span>
      <div class="space-y-4">

        <!-- comment -->
        {% for x in reviews %}
        <div class="flex items-start col-span-1 pt-3 space-x-3">
          <img src="{{x.user.menteeprofile.image.url}}" class="w-12 h-12 rounded-full" alt="">
          <div class="flex-1">
            <div class="px-4 py-4 bg-gray-100 rounded-md lg:px-6 lg:pb-6">
              <div class="flex items-end justify-between pb-3">
                <span class="text-sm font-semibold text-gray-800 transition-colors duration-300 hover:text-blue-600">{{x.user.username}}</span>
                <div class="flex items-center space-x-1">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>
                  <span class="block font-semibold tracking-wide text-gray-500 uppercase text-xxs">
                    {{x.created_at}}
                  </span>
                </div>
              </div>
              <p class="block text-sm text-gray-500">{{x.message}}</p>
              
              <div class="flex mb-2 text-yellow-400">
                {% if x.rating == 1 %}
                <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg>
              {% elif x.rating == 2 %}
              <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg> <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg>
              {% elif x.rating == 3 %}
              <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg> <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg> <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg>
              {% elif x.rating == 4 %}
              <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg> <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg> <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg> <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg>
              {% elif x.rating == 5 %}
              <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg>
              <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg>
              <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg> <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg> <svg class="w-5 h-5 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
                
              </svg>
              {% endif %}
              
              </div>
            </div>
            <!-- quick actions -->
            <div class="flex items-center pt-3 pb-3 space-x-3 border-b border-gray-200">
          
            
            </div>
            <!--/ quick actions -->
          </div>
        </div>
        {% endfor %}
        <!--/ comment -->

    </div>

  </div>
</article>
     </div>
   </div>
  </div>
</div>

<script>
  var logID = 'log',
  log = $('<div id="'+logID+'"></div>');
$('body').append(log);
  $('[type*="radio"]').change(function () {
    var me = $(this);
    log.html(me.attr('value'));
  });
</script>
{% endblock %}