{% load static %}

<!DOCTYPE html>
<html lang=en>

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet"
      href={% static 'dashboard/styles/css/main.bundle.f7e41da01989ad32cb56db7783359d526581f5ccc2119670e36186deedaf78e2.css' %}>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



      <script src={% static 'dashboard/styles/js/app.js' %} defer></script>  
</head>

<body>

{% include 'password_reset/base_css.html' %}
{% include 'password_reset/base_js.html' %}


<!-- Body -->
<style type="text/css">
	.main{
		min-height: 100vh;
		height: 100%;
	}
</style>
<div class="main">
	{% block content %}

	{% endblock content %}
</div>
<!-- End Body -->


<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>