{% extends 'password_reset/base.html' %}
{% load static %}
{% block content %}
<main
class="flex flex-row items-center justify-center min-h-screen px-4 py-6 pt-12 overflow-x-hidden transition-all duration-300 bg-gray-100">
<div class="relative z-10 flex justify-center flex-1 pb-12">
  <div class="w-full max-w-md">
<!-- <div class="flex items-center justify-center mb-8 lg:mb-12">
  <img src="{% static 'dashboard/styles/images/aircontrol-logo-dark.svg' %}" alt="logo" class="z-20 inline-block h-7">
</div> -->

<div class="px-8 py-4 bg-white rounded-md shadow-md lg:px-12 lg:pt-12 lg:pb-12 ">
  <div class="py-4 space-y-1 text-center lg:pb-10 ">
    <h2 class="text-lg font-semibold tracking-wide text-gray-800 md:text-2xl lg:text-3xl ">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</h2>
	<p class="m-auto p-2">
		We've emailed you instructions for setting your password, if an account exists with the email you entered.
		You should receive them shortly.
	  </p>
	  <p class="m-auto p-2">
		If you don't receive an email, please make sure you've entered the address you registered with,
		and check your spam folder.
	  </p>
	  <p class="m-auto p-2"><a href="{% url 'dashboard:home' %}">Return to home page</a></p>
  </div>



 

  
</div>
</div>


</div>
<img src="{% static 'dashboard/styles/images/auth-bg.svg' %}" alt="" class="absolute inset-0 object-cover w-full h-screen opacity-20">
</main>


{% endblock %}