{% extends 'password_reset/base.html' %}

{% load static %}
{% block content %}
<main
class="flex flex-row items-center justify-center min-h-screen px-4 py-6 pt-12 overflow-x-hidden transition-all duration-300 bg-gray-100">
<div class="relative z-10 flex justify-center flex-1 pb-12">
  <div class="w-full max-w-md">
<!-- <div class="flex items-center justify-center mb-8 lg:mb-12">
  <img src="{% static 'dashboard/styles/images/aircontrol-logo-dark.svg' %}" alt="logo" class="z-20 inline-block h-7">
</div> -->

<div class="px-8 py-4 bg-white rounded-md shadow-md lg:px-12 lg:pt-12 lg:pb-12 ">
  <div class="py-4 space-y-1 text-center lg:pb-10 ">
    <h2 class="text-lg font-semibold tracking-wide text-gray-800 md:text-2xl lg:text-3xl ">Password reset</h2>
    <p class="text-base font-medium text-gray-500">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
  </div>



  <form id="id_password_reset_form" method="POST" class="form-signin block space-y-6">{% csrf_token %}
    <div class="space-y-2">
    <h1 class="block text-sm font-semibold text-gray-500">Email address:</h1>
      <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true" >
    </div>
    <button id="id_submit_btn" class="flex items-center justify-center w-full px-4 py-4 space-x-1 text-sm font-semibold leading-4 text-center transition-colors duration-300 bg-blue-600 rounded-md disabled:cursor-not-allowed disabled:opacity-60 hover:bg-blue-700 text-blue-50" >Send reset email</button>  
  </form>

  
</div>
</div>


</div>
<img src="{% static 'dashboard/styles/images/auth-bg.svg' %}" alt="" class="absolute inset-0 object-cover w-full h-screen opacity-20">
</main>
      






{% endblock %}