{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="about" class="about">

	<div class="container" data-aos="fade-up">
	  <div class="row gx-0">

		<div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
		  <div class="content">
			<h3>How it Works</h3>
			
			<p>
				Find A Mentor was born out of 2 frustrations
				<ol><li>Gaining access to mentors is tough</li>

<li>Content creation is difficult</li></ol>

 </p>
			<div class="footer-column col-lg-7 col-md-6 col-sm-12">
				<div class="footer-widget logo-widget">
					
					<div class="text"></div>
					<ul class="list-style-two">
						<li><span class="icon fa fa-envelope"></span> info@findamentor.com</li>
					</ul>
				</div>
			</div>
			<div class="text-center text-lg-start">
			  <a href="/services" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
				<span>Apply now</span>
				<i class="bi bi-arrow-right"></i>
			  </a>
			</div>
		  </div>
		</div>

		<div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
		  <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
		</div>

	  </div>
	</div>

  </section><!-- End About Section -->










	<!--Main Footer-->
  
    	

{% endblock content  %}