{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="features" class="features">

	<div class="container" data-aos="fade-up">

	  <!-- Feature Tabs -->
	  <div class="row feture-tabs" data-aos="fade-up">
		<div class="col-lg-6">
		  <h3>Case studies / Testimonials</h3>

		  <!-- Tabs -->
		  
		  <!-- Tab Content -->
		  <div class="tab-content">

			<div class="tab-pane fade show active" id="tab1">
			  <p> </p>
			  <div class="d-flex align-items-center mb-2">
				<i class="bi bi-check2"></i>
				<h4>A Faster, Simpler Financing Experience</h4>
			  </div>
			  <p>Rising star capital partners provide a faster, simpler financing experience for small and medium-sized businesses. We offer flexible repayment options, and our loans are truly customized to your precise needs.</p>
			  <div class="d-flex align-items-center mb-2">
				<i class="bi bi-check2"></i>
				<h4>Focused on the Working Capital Needs of Small Businesses</h4>
			  </div>
			  <p>It’s not just about acquiring the capital you need right away; it’s about doing it the right way. At Rising star capital partners, we work directly with you to personalize a funding option that meets your demands and helps you achieve your long-term goals. </p>
			  
			  <div class="d-flex align-items-center mb-2">
				<i class="bi bi-check2"></i>
				<h4>Our Customer Service</h4>
			  </div>
			  <p>Whether you want to purchase new products, expand your business, or create a new marketing strategy, our trained, friendly professionals are available to help you throughout every step of the process. </p>
			
			  <div class="d-flex align-items-center mb-2">
				<i class="bi bi-check2"></i>
				<h4>Easy to Prequalify, Quick Funding</h4>
			  </div>
			  <p>Quick and more flexible than a traditional bank loan, we’ve made qualifying for financing extremely quick and easy. </p>
			
			
			</div><!-- End Tab 1 Content -->

		  </div>

		</div>

		<div class="col-lg-6">
		  <img src="{% static 'assets/img/features-2.png' %}" class="img-fluid" alt="">
		</div>

	  </div><!-- End Feature Tabs -->

	 

	</div>

  </section><!-- End Features Section -->


	<!-- End Case Section Three-->
{% endblock content %}