{% extends "base.html" %}
{% load static %}
{% block content %}
         <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
            
             
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@finderamentor.com</p>
                </div>
              </div>
              
            </div>

          </div>

          <div class="col-lg-6">
            <form method="post"  class="php-email-form">
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input
                  type="text"
                  name="name"
                  value=""
                  placeholder="Full name"
                  required
                />
                </div>

                <div class="col-md-6 ">
                  <input
                          type="text"
                          name="email"
                          value=""
                          placeholder="Email"
                          required
                        />
                </div>

                <div class="col-md-12">
                  <textarea
                  name="message"
                  placeholder="write.."
                ></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->


{% endblock content %}