{% load static %}


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'dashboard/styles/images/titlelogo.png' %}"  height="100" style="transform: scale(4); margin-left: 1rem;" alt="">
       
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
        
          {% if user.is_authenticated %}
					
          <li>	<a href="{% url 'dashboard:logout' %}" class="getstarted scrollto">Logout</a> </li>
          {% else %}
          <li><a href="{% url 'dashboard:menteeregister' %}" class="" style="border: 3px; border-color: rgb(10, 40, 207); border-style: solid; border-radius: 4rem; padding-left: 1rem; padding-right: 1rem; margin-left: 1rem;">Find A Mentor</a></li>
          <li><a href="{% url 'mentor:register' %}" class="getstarted scrollto">Become A Mentor</a></li>
          {% endif %}
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <!-- {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    {{ message }}
  </div>
  {% endfor %} {% endif %} -->
  <!--End Sticky Header-->
</header>
<!--End Main Header -->
