{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="values" class="values">

	<div class="container" data-aos="fade-up">

	  <header class="section-header">
		<h2>Services</h2>
	  </header>

	  <div class="row">

		<div class="col-lg-4">
		  <div class="box" data-aos="fade-up" data-aos-delay="200">
			<img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
			<h3>  As a Mentee, you get free mentorship from the top experts in the world </h3>
			<p></p>
		  </div>
		</div>

		<div class="col-lg-4 mt-4 mt-lg-0">
		  <div class="box" data-aos="fade-up" data-aos-delay="400">
			<img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
			<h3> As a Mentor, you get to record the video conference calls with your mentees and use this content on all of your social media platforms </h3>
			<p>

			</p>
		  </div>
		</div>

		
		

		
	  </div>

	</div>

  </section><!-- End Values Section -->

{% endblock content %}