{% extends "base.html" %}
{% load static %}

{% block content %}
	  <!-- ======= Testimonials Section ======= -->
	  <section id="testimonials" class="testimonials">

		<div class="container" data-aos="fade-up">
  
		  <header class="section-header">
			<h2>Testimonials</h2>
			<p>We are here to manage your <br> finance with <span>experience</span></p>
		  </header>
  
		  <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
			<div class="swiper-wrapper">
  
			  <div class="swiper-slide">
				<div class="testimonial-item">
				  <div class="stars">
					<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
				  </div>
				  <p>
					The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime  reach a review point you’ll end up reviewing and negotiating. </p>
				  <div class="profile mt-auto">
					
					<h3>Amber Lee</h3>
				  </div>
				</div>
			  </div><!-- End testimonial item -->
  
			  <div class="swiper-slide">
				<div class="testimonial-item">
				  <div class="stars">
					<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
				  </div>
				  <p>
					The argument in favor of using filler text goes something like this: If you use real content in the design process, anytime  reach a review point you’ll end up reviewing and negotiating. </p>
				  <div class="profile mt-auto">
					
					<h3>Anny Leo</h3>
				  </div>
				</div>
			  </div><!-- End testimonial item -->
  
			</div>
			<div class="swiper-pagination"></div>
		  </div>
  
		</div>
  
	  </section><!-- End Testimonials Section -->

{% endblock content %}